<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book Management</title>
  <!--    <style>-->
  <!--        &lt;!&ndash;-->
  <!--            @import url("css/style.css");-->
  <!--        &ndash;&gt;-->
  <!--    </style>-->
</head>
<body>
<h1>Reset Password</h1>
<h3>{{.error}}</h3>
<form action="/resetPassword" method="post" enctype="multipart/form-data">
  <input type="hidden" name="email" value="{{.user.Email}}">
  Enter a new Password: <input type="text" required id="newPassword"><br>
  Confirm Password: <input type="password" id="password" name="password" required><br>
  <span id="message"></span><br><br>
  <input type="submit" value="Submit" onclick="validatePassword(event); comparePassword(event)">
</form>
</body>
<script>
  function validatePassword(event) {
    var password = document.getElementById("password").value;
    var pattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*()_+=\-]{8,}$/;
    if (!pattern.test(password)) {
      document.getElementById("message").innerHTML = "Password must be 8 characters long with atleast one letter & one number."
      event.preventDefault();
    }
  }
  function comparePassword(event) {
    var password1 = document.getElementById("newPassword").value;
    var password2 = document.getElementById("password").value;

    if (!(password1 === password2)) {
      document.getElementById("message").innerHTML = "Both Password values must be same"
      event.preventDefault();
    }
  }
</script>
</html>