<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book Management</title>
    <script src="https://kit.fontawesome.com/b2a400ec90.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</head>
<body>
{{$user := .user}}
<header class="p-3 text" style="background-color: black">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img height="40px" width="150px" src="/css/logo.png">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>
            <div class="text-end">
                <a href="/home "><button type="button" class="btn btn-outline-light me-2">Home</button></a>
                <a href="/logout"><button type="button" class="btn btn-warning">Logout</button></a>
            </div>
        </div>
    </div>
</header>
<h3>{{.error}}</h3>

{{if eq .user.RoleName "Member"}}
  {{range .borrow}}
    Title: <span>{{.Title}}</span><br>
    Author: <span>{{.Author}}</span><br>
    Genre: <span>{{.Genre}}</span><br>
    ISBN: <span>{{.BookISBN}}</span><br>
    Status: <span>{{.Status}}</span><br>
    IssueDate: <span>{{.IssueDate.Format "2006-01-02"}}</span><br>
    DueDate: <span>{{.DueDate.Format "2006-01-02"}}</span><br>
    {{if eq .Status "pending"}}
    <a href="/loadReturn/{{.BookISBN}}">Return</a><br>
    {{else if eq .Status "Returned"}}
    Returned To(LibrarianID): <span>{{.LibrarianID}}</span>
    {{end}}
    <p>-----------------------------------------------------------------</p>
  {{end}}
{{else}}
{{ $today := .today}}
    {{range .borrow}}
        MemberID: <span>{{.MemberID}}</span><br>
        Title: <span>{{.Title}}</span><br>
        Author: <span>{{.Author}}</span><br>
        Genre: <span>{{.Genre}}</span><br>
        ISBN: <span>{{.BookISBN}}</span><br>
        Status: <span>{{.Status}}</span><br>
        IssueDate: <span>{{.IssueDate.Format "2006-01-02"}}</span><br>
        DueDate: <span>{{.DueDate.Format "2006-01-02"}}</span><br>
        {{if eq .Status "requested"}}
            <a href="/returnRequest/{{.MemberID}}/{{.BookISBN}}">Accept Return Request</a><br>
        {{else if eq .Status "Returned"}}
            Returned To(LibrarianID): <span>{{.LibrarianID}}</span>
        {{end}}
        {{$DueDate := .DueDate.Format "2006-01-02"}}
        {{if lt $DueDate $today}}
            <a href="/reminder/{{.MemberID}}">Send Reminder</a>
        {{end}}
        <p>-----------------------------------------------------------------</p>
    {{end}}
{{end}}
<a href="/home">Home</a><br>
<a href="/viewBook">View all books</a>
</body>
</html>