<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Management</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/b2a400ec90.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</head>
<body>
{{$user := .user}}
<header class="p-3 text" style="background-color: black">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img height="40px" width="150px" src="/css/logo.png">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>
            <div class="text-end">
                <a href="/home "><button type="button" class="btn btn-outline-light me-2">Home</button></a>
                <a href="/logout"><button type="button" class="btn btn-warning">Logout</button></a>
            </div>
        </div>
    </div>
</header>
<form action="/search" method="POST">
    <input type="text" id="searchInput" name="query" placeholder="Search Here"><br>
    Filter by Role:
    {{range .roles}}
    <input type="checkbox" name="roles" id="roleFilter" value="{{.}}">{{.}}
    {{end}}
</form><br><br>
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center" id="card">
            {{range .users}}
            {{if ne .UserID $user.UserID}}
            <div class="col-xl-4 col-md-8 mb-3">
                <div  class="card mb-2 shadow-sm h-100">
                    <div class="card-body h-100">
                        <div class="card-text d-flex flex-column justify-content-between h-100">
                            <div class="">
                                <table>
                                    <tr>
                                        <td class="align-top col-4">UserID: </td>
                                        <td class="col-8">{{.UserID}}</td>
                                    </tr>
                                    <tr>
                                        <td class="align-top col-4">Name: </td>
                                        <td class="col-8">{{.Name}}</td>
                                    </tr>
                                    <tr>
                                        <td class="align-top col-4">Email: </td>
                                        <td class="col-8">{{.Email}}</td>
                                    </tr>
                                    <tr>
                                        <td class="align-top col-4">Role: </td>
                                        <td class="col-8">{{.RoleName}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="mx-auto mt-10">
                                {{if eq .RoleName "Member"}}
                                    <div class="mb-2">
                                        <a href="/borrowHistory/{{.UserID}}" class="btn btn-warning">View Borrow History</a>&nbsp;&nbsp;
                                        <a href="/donateHistory/{{.UserID}}" class="btn btn-warning">View Donate History</a>
                                    </div>
                                    {{if eq $user.RoleName "Admin"}}
                                        <a href="/makeLibrarian/{{.UserID}}" class="btn btn-warning">Make Librarian</a>
                                        <a href="/makeAdmin/{{.UserID}}" class="btn btn-warning">Make Admin</a>
                                    {{end}}
                                {{else if eq .RoleName "Librarian"}}
                                    {{if eq $user.RoleName "Admin"}}
                                        <a href="/makeAdmin/{{.UserID}}" class="btn btn-warning">Make Admin</a>
                                    {{end}}
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        searchInput = $("#searchInput")
        searchInput.on('input' , async function(){
            var lower = searchInput.val()
            console.log(lower)
            const response = await fetch('http://localhost:8080/search?query='+lower, {
                method: "POST",
            });
            const user = await fetch('http://localhost:8080/fetch', {
                method: "GET",
            });
            const data = await response.json();
            const dataUser = await user.json();
            console.log(await data);
            $("#card").empty()
            data.forEach(function (name) {
                [dataUser].forEach(function(userName) {
                    if (name["user_id"] != userName["user_id"]) {
                        $("#card").append("UserID: " + "<span>" + name["user_id"] + "</span>" + "<br>" + "Name: " + "<span>" + name["name"] + "</span>" + "<br>" + "Email: " + "<span>" + name["email"] + "</span>" + "<br>" + "Role: " + "<span>" + name["role_name"] + "</span>" + "<br>" + "<br>")
                        if (name["role_name"] == "Member") {
                            $("#card").append("<a href='/borrowHistory/" + name["user_id"] + "'>" + "View Borrow History" + "</a>" + "&nbsp;" + "&nbsp;")
                            $("#card").append("<a href='/donateHistory/" + name["user_id"] + "'>" + "View Donate History" + "</a>" + "<br>" + "<br>")
                            $("#card").append("<a href='/makeLibrarian/" + name["user_id"] + "'>" + "Make Librarian" + "</a>" + "&nbsp;" + "&nbsp;")
                            $("#card").append("<a href='/makeAdmin/" + name["user_id"] + "'>" + "Make Admin" + "</a>")
                        } else if (name["role_name"] == "Librarian") {
                            $("#card").append("<a href='/makeAdmin/" + name["user_id"] + "'>" + "Make Admin" + "<a>")
                        }
                        $("#card").append("<p>" + "-----------------------------------------------------------------" + "</p>")
                    }
                });
            });
            $("#card").append("<a href='/home'>" + "Home" + "</a>")

        });
    });
</script>
<script>
    $(document).ready(function() {
        async function handleFilter() {
            var roles = [];
            $('input[name="roles"]:checked').each(function () {
                roles.push($(this).val());
            });
            const member = await fetch('http://localhost:8080/fetch', {
                method: "GET",
            });
            const dataUser = await member.json();
            $.ajax({
                url: '/filterUser?role_name='+roles,
                type: 'GET',
                success: function (result) {
                    var users = result;
                    $("#card").empty();
                    for (var i = 0; i < users.length; i++) {
                        [dataUser].forEach(function(userName) {
                            var user = users[i];
                            if (user["user_id"] != userName["user_id"]) {
                                $("#card").append("UserID: " + "<span>" + user["user_id"] + "</span>" + "<br>" + "Name: " + "<span>" + user["name"] + "</span>" + "<br>" + "Email: " + "<span>" + user["email"] + "</span>" + "<br>" + "Role: " + "<span>" + user["role_name"] + "</span>" + "<br>" + "<br>")
                                if (user["role_name"] == "Member") {
                                    $("#card").append("<a href='/borrowHistory/" + user["user_id"] + "'>" + "View Borrow History" + "</a>" + "&nbsp;" + "&nbsp;")
                                    $("#card").append("<a href='/donateHistory/" + user["user_id"] + "'>" + "View Donate History" + "</a>" + "<br>" + "<br>")
                                    $("#card").append("<a href='/makeLibrarian/" + user["user_id"] + "'>" + "Make Librarian" + "</a>" + "&nbsp;" + "&nbsp;")
                                    $("#card").append("<a href='/makeAdmin/" + user["user_id"] + "'>" + "Make Admin" + "</a>")
                                } else if (user["role_name"] == "Librarian") {
                                    $("#card").append("<a href='/makeAdmin/" + user["user_id"] + "'>" + "Make Admin" + "<a>")
                                }
                                $("#card").append("<p>" + "-----------------------------------------------------------------" + "</p>")
                            }
                        });
                    };
                    $("#card").append("<a href='/home'>" + "Home" + "</a>")
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        $('input[name="roles"]').each(function () {
            console.log("hi")
            $(this).on('change', handleFilter);
        });
    });
</script>

</html>