<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Management</title>
    <!--    <style>-->
    <!--        &lt;!&ndash;-->
    <!--            @import url("css/style.css");-->
    <!--        &ndash;&gt;-->
    <!--    </style>-->
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
<h1>Add Book</h1>
<h3>{{.error}}</h3>
<form action="/addBook" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id"><br>
    Title: <input type="text" name="title" required><br>
    Author: <input type="text" name="author" required><br>
    Genre: <input type="text" name="genre" required><br>
    Description: <input type="text" name="description" required><br>
    ISBN: <input type="number" name="isbn" required><br>
    Total Quantity: <input type="number" name="total_quantity" id="tq" required onkeyup="copyValue()"><br>
    Actual Quantity: <input type="number" name="actual_quantity" id="aq" required readonly><br>
    <input type="submit" value="Submit">
</form>
<br><br>
</body>
<script>
    function copyValue() {
        var input1Value = document.getElementById("tq").value;
        document.getElementById("aq").value = input1Value;
    }
</script>

</html>