<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book Management</title>
  <!--    <style>-->
  <!--        &lt;!&ndash;-->
  <!--            @import url("css/style.css");-->
  <!--        &ndash;&gt;-->
  <!--    </style>-->
</head>
<body>
<h1>Home</h1>
{{if eq .user.RoleName "Admin"}}
  <a href="/viewBook">View all books</a><br>
  <a href="/viewUser">View all users</a><br>
  <a href="/viewBorrow">View all borrows</a><br>
  <a href="/viewDonate">View all Donates</a><br>
<a href="/viewProfile"> view User</a><br>
  <a href="/logout">Logout</a>
{{else if eq .user.RoleName "Librarian"}}
<a href="/viewBook">View all books</a><br>
<a href="/viewBorrow">View all borrows</a><br>
<a href="/viewUser">View all users</a><br>
<a href="/viewDonate">View all Donates</a><br>
<a href="/viewProfile"> view User</a><br>
<a href="/logout">Logout</a>
{{else}}
  <a href="/viewBook">View all books</a><br>
  <a href="/userBorrow">Borrow history</a><br>
  <a href="/loadDonate">Donate a Book</a><br>
  <a href="/userDonate">View Donated Books</a><br>
  <a href="/viewProfile"> view User</a><br>
  <a href="/logout">Logout</a>
{{end}}
</body>
</html>