<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book Management</title>
  <!--    <style>-->
  <!--        &lt;!&ndash;-->
  <!--            @import url("css/style.css");-->
  <!--        &ndash;&gt;-->
  <!--    </style>-->
</head>
<body>
<h1>Borrow Book</h1>
<form action="/returnBook" method="post">
  <input type="hidden" name="id" value="{{.id}}">
  <input type="hidden" name="status" value="returned">
  ISBN: <input type="number" name="book_isbn" required value="{{.borrow.BookISBN}}"><br>
  IssueDate: <input type="date"name="issue_date" value="{{.borrow.IssueDate.Format "2006-01-02"}}"><br>
  ReturnDate: <input type="date" id="date" name="due_date"><br>
  <input type="submit" value="Submit">
</form>
<br><br>
</body>
<script>
  var today = new Date();
  var Date = today.toISOString().split('T')[0];
  document.getElementById('date').value = Date;
</script>