<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Management</title>
<!--    <style>-->
<!--        &lt;!&ndash;-->
<!--            @import url("css/style.css");-->
<!--        &ndash;&gt;-->
<!--    </style>-->
</head>
<body>
<h1>Signup</h1>
<h3>{{.error}}</h3>
<form action="/signup" method="post" enctype="multipart/form-data" id="sign-up">
    <input type="hidden" name="role_name" value="Member">
    <input type="hidden" name="gender" value="Male">
    Name: <input type="text" name="name" required><br>
    Email: <input type="email" name="email" required><br>
    Password: <input type="password" name="password" id="password" required><br>
    <span id="message"></span><br><br>
    <input type="submit" value="Submit" onclick="validatePassword(event)">
</form>
<br><br>
<a href="/">Login</a>
</body>
<script>
    function validatePassword(event) {
        var password = document.getElementById("password").value;
        var pattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*()_+=\-]{8,}$/;
        if (!pattern.test(password)) {
            document.getElementById("message").innerHTML = "Password must be 8 characters long with atleast one letter & one number."
            event.preventDefault();
        }
    }
</script>
</html>