<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Management</title>
    <!--    <style>-->
    <!--        &lt;!&ndash;-->
    <!--            @import url("css/style.css");-->
    <!--        &ndash;&gt;-->
    <!--    </style>-->
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
<h1>Update Profile</h1>
<h3>{{.error}}</h3>
<form action="/updateProfile" method="post">
    <input type="hidden" name="user_id" value="{{.user_id}}">
    Name: <input type="text" name="name" required value="{{.user.Name}}"><br>
    Email: <input type="text" name="email" required value="{{.user.Email}}"><br>
    Age: <input type="number" name="age" value="{{.user.Age}}"><br>
    Gender: <input type="radio" name="gender" value="Male">Male
            <input type="radio" name="gender" value="Female">Female
            <input type="radio" name="gender" value="Custom">Custom<br><br>
   <input type="submit" value="Submit">
</form>
<br><br>
</body>
</html>