<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Management</title>
    <!--    <style>-->
    <!--        &lt;!&ndash;-->
    <!--            @import url("css/style.css");-->
    <!--        &ndash;&gt;-->
    <!--    </style>-->
</head>
<body>
<h1>Update Profile</h1>
<h3>{{.error}}</h3>
<form action="/updateProfile" method="post">
    <input type="hidden" name="user_id" value="{{.user_id}}">
    Name: <input type="text" name="name" required value="{{.user.Name}}"><br>
    Email: <input type="text" name="email" required value="{{.user.Email}}"><br>
   <input type="submit" value="Submit">
</form>
<br><br>
</body>
</html>