<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book Management</title>
  <!--    <style>-->
  <!--        &lt;!&ndash;-->
  <!--            @import url("css/style.css");-->
  <!--        &ndash;&gt;-->
  <!--    </style>-->
</head>
<body>
<h1>View Borrowed Books</h1>

<h3>{{.error}}</h3>
{{if eq .user.RoleName "Member"}}
  {{range .borrow}}
    Title: <span>{{.Title}}</span><br>
    Author: <span>{{.Author}}</span><br>
    Genre: <span>{{.Genre}}</span><br>
    ISBN: <span>{{.BookISBN}}</span><br>
    Status: <span>{{.Status}}</span><br>
    IssueDate: <span>{{.IssueDate.Format "2006-01-02"}}</span><br>
    DueDate: <span>{{.DueDate.Format "2006-01-02"}}</span><br>
    {{if eq .Status "pending"}}
    <a href="/loadReturn/{{.BookISBN}}">Return</a><br>
    {{else if eq .Status "Returned"}}
    Returned To(LibrarianID): <span>{{.LibrarianID}}</span>
    {{end}}
    <p>-----------------------------------------------------------------</p>
  {{end}}
{{else}}
{{ $today := .today}}
{{$today}}<br>
    {{range .borrow}}
        MemberID: <span>{{.MemberID}}</span><br>
        Title: <span>{{.Title}}</span><br>
        Author: <span>{{.Author}}</span><br>
        Genre: <span>{{.Genre}}</span><br>
        ISBN: <span>{{.BookISBN}}</span><br>
        Status: <span>{{.Status}}</span><br>
        IssueDate: <span>{{.IssueDate.Format "2006-01-02"}}</span><br>
        DueDate: <span>{{.DueDate.Format "2006-01-02"}}</span><br>
        {{if eq .Status "requested"}}
            <a href="/returnRequest/{{.MemberID}}/{{.BookISBN}}">Accept Return Request</a><br>
        {{else if eq .Status "Returned"}}
            Returned To(LibrarianID): <span>{{.LibrarianID}}</span>
        {{end}}
        {{$DueDate := .DueDate.Format "2006-01-02"}}
        {{if lt $DueDate $today}}
            <a href="/reminder/{{.MemberID}}">Send Reminder</a>
        {{end}}
        <p>-----------------------------------------------------------------</p>
    {{end}}
{{end}}
<a href="/home">Home</a><br>
<a href="/viewBook">View all books</a>
</body>
</html>