<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Management</title>
<!--        <style>-->
<!--            &lt;!&ndash;-->
<!--                @import url("Project/css/dropdown.css");-->
<!--            &ndash;&gt;-->
<!--        </style>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>View Users</h1>
<h3>{{.error}}</h3>
<form action="/search" method="POST">
    <input type="text" id="searchInput" name="query" placeholder="Search Here"><br>
    Filter by Role:
    {{range .roles}}
    <input type="checkbox" name="roles" id="roleFilter" value="{{.}}">{{.}}
    {{end}}
</form><br><br>
<div id="card">
    {{range .users}}
    {{if ne .UserID $.user.UserID}}
    UserID: <span>{{.UserID}}</span><br>
    Name: <span>{{.Name}}</span><br>
    Email: <span>{{.Email}}</span><br>
    Role: <span>{{.RoleName}}</span><br><br>
    {{if eq .RoleName "Member"}}
    <a href="/makeLibrarian/{{.UserID}}">Make Librarian</a>&nbsp;&nbsp;
    <a href="/makeAdmin/{{.UserID}}">Make Admin</a>
    {{else if eq .RoleName "Librarian"}}
    <a href="#">Make Admin</a>
    {{end}}
    <p>-----------------------------------------------------------------</p>
    {{end}}
    {{end}}
    <a href="/home">Home</a>
</div>
</body>
<script>
    $(document).ready(function() {
        searchInput = $("#searchInput")
        searchInput.on('input' , async function(){
            var lower = searchInput.val()
            console.log(lower)
            const response = await fetch('http://localhost:8080/search?query='+lower, {
                method: "POST",
            });
            const user = await fetch('http://localhost:8080/fetch', {
                method: "GET",
            });
            const data = await response.json();
            const dataUser = await user.json();
            console.log(await data);
            $("#card").empty()
            data.forEach(function (name) {
                [dataUser].forEach(function(userName) {
                    if (name["user_id"] != userName["user_id"]) {
                        $("#card").append("UserID: " + "<span>" + name["user_id"] + "</span>" + "<br>" + "Name: " + "<span>" + name["name"] + "</span>" + "<br>" + "Email: " + "<span>" + name["email"] + "</span>" + "<br>" + "Role: " + "<span>" + name["role_name"] + "</span>" + "<br>" + "<br>")
                        if (name["role_name"] == "Member") {
                            $("#card").append("<a href='/makeLibrarian/" + name["user_id"] + "'>" + "Make Librarian" + "</a>" + "&nbsp;" + "&nbsp;")
                            $("#card").append("<a href='/makeAdmin/" + name["user_id"] + "'>" + "Make Admin" + "</a>")
                        } else if (name["role_name"] == "Librarian") {
                            $("#card").append("<a href='/makeAdmin/" + name["user_id"] + "'>" + "Make Admin" + "<a>")
                        }
                        $("#card").append("<p>" + "-----------------------------------------------------------------" + "</p>")
                    }
                });
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        async function handleFilter() {
            var roles = [];
            $('input[name="roles"]:checked').each(function () {
                roles.push($(this).val());
            });
            const member = await fetch('http://localhost:8080/fetch', {
                method: "GET",
            });
            const dataUser = await member.json();
            $.ajax({
                url: '/filterUser?role_name='+roles,
                type: 'GET',
                success: function (result) {
                    var users = result;
                    $("#card").empty();
                    for (var i = 0; i < users.length; i++) {
                        [dataUser].forEach(function(userName) {
                            var user = users[i];
                            if (user["user_id"] != userName["user_id"]) {
                                $("#card").append("UserID: " + "<span>" + user["user_id"] + "</span>" + "<br>" + "Name: " + "<span>" + user["name"] + "</span>" + "<br>" + "Email: " + "<span>" + user["email"] + "</span>" + "<br>" + "Role: " + "<span>" + user["role_name"] + "</span>" + "<br>" + "<br>")
                                if (user["role_name"] == "Member") {
                                    $("#card").append("<a href='/makeLibrarian/" + user["user_id"] + "'>" + "Make Librarian" + "</a>" + "&nbsp;" + "&nbsp;")
                                    $("#card").append("<a href='/makeAdmin/" + user["user_id"] + "'>" + "Make Admin" + "</a>")
                                } else if (user["role_name"] == "Librarian") {
                                    $("#card").append("<a href='/makeAdmin/" + user["user_id"] + "'>" + "Make Admin" + "<a>")
                                }
                                $("#card").append("<p>" + "-----------------------------------------------------------------" + "</p>")
                            }
                        });
                    };
                    $("#card").append("<a href='/home'>" + "Home" + "</a>")
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        $('input[name="roles"]').each(function () {
            console.log("hi")
            $(this).on('change', handleFilter);
        });
    });
</script>

</html>