<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Management</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--    <style>-->
    <!--        &lt;!&ndash;-->
    <!--            @import url("css/style.css");-->
    <!--        &ndash;&gt;-->
    <!--    </style>-->
</head>
<body>
<h1>View Book</h1>
<h3>{{.error}}</h3>
<form action="/searchBook" method="POST">
    <input type="text" id="searchInput" name="query" placeholder="Search Here"><br>
    Filter by Genre:
    {{range .genres}}
    <input type="checkbox" name="genres" id="genreFilter">{{.}}
    {{end}}
    <br>
    Filter by Author:
    {{range .authors}}
         <input type="checkbox" name="authors" id="authorFilter" value="{{.}}">{{.}}
    {{end}}
</form><br><br>
<div id="card">
    {{if ne .user.RoleName "Member"}}
    {{range .book}}
    ID: <span>{{.ID}}</span><br>
    Title: <span>{{.Title}}</span><br>
    Author: <span>{{.Author}}</span><br>
    Genre: <span>{{.Genre}}</span><br>
    Description: <span>{{.Description}}</span><br>
    ISBN: <span>{{.ISBN}}</span><br>
    Available Quantity: <span>{{.ActualQuantity}}</span><br><br>
    <a href="/loadBook/{{.ID}}">Update</a>&nbsp; &nbsp;
    <a href="/loadDelete/{{.ID}}">Delete</a>&nbsp; &nbsp;
    <p>-----------------------------------------------------------------</p>
    {{end}}
    <a href="/addBook">Add a New Book</a><br>
    {{else}}
    {{range .book}}
    ID: <span>{{.ID}}</span><br>
    Title: <span>{{.Title}}</span><br>
    Author: <span>{{.Author}}</span><br>
    Genre: <span>{{.Genre}}</span><br>
    Description: <span>{{.Description}}</span><br>
    ISBN: <span>{{.ISBN}}</span><br>
    Available Quantity: <span>{{.ActualQuantity}}</span><br><br>
    {{if ne .ActualQuantity 0}}
    <a href="/loadBorrow/{{.ID}}">Borrow</a><br>
    {{end}}
    <p>-----------------------------------------------------------------</p>
    {{end}}
    {{end}}
    <a href="/home">Home</a>
</div>
</body>
<script>
    $(document).ready(function() {
        searchInput = $("#searchInput")
        searchInput.on('input' , async function(){
            var lower = searchInput.val()
            const response = await fetch('http://localhost:8080/searchBook?query='+lower, {
                method: "POST",
            });
            const user = await fetch('http://localhost:8080/fetch', {
                method: "GET",
            });
            const data = await response.json();
            const dataUser = await user.json();
            $("#card").empty()
            data.forEach(function (name) {
                [dataUser].forEach(function(userName) {
                    $("#card").append("ID: " + "<span>" + name["id"] + "</span>" + "<br>" + "Title: " + "<span>" + name["title"] + "</span>" + "<br>" + "Author: " + "<span>" + name["author"] + "</span>" + "<br>" + "Genre: " + "<span>" + name["genre"] + "</span>" + "<br>" + "Description: " + "<span>" + name["description"] + "</span>" + "<br>" + "ISBN: " + "<span>" + name["isbn"] + "</span>" + "<br>" + "ActualQuantity: " + "<span>" + name["actual_quantity"] + "</span>" + "<br>"  + "<br>")
                    if (userName["role_name"] != "Member") {
                        $("#card").append("<a href='/loadBook/"+name["id"]+"'>" + "Update" + "</a>" + "&nbsp;" + "&nbsp;")
                        $("#card").append("<a href='/loadDelete/"+name["id"]+"'>" + "Delete" + "</a>")
                    } else {
                        if(name["actual_quantity"]!=0){
                            $("#card").append("<a href='/loadBorrow/"+name["id"]+"'>" + "Borrow" + "</a>")
                        }
                    }
                    $("#card").append("<p>" + "-----------------------------------------------------------------" + "</p>")
                });
            });
            if(dataUser["role_name"]!="Member"){
                $("#card").append("<a href='/addBook'>" + "Add New Book" + "</a>" + "<br>")
            }
            $("#card").append("<a href='/home'>" + "Home" + "</a>")
        });
    });
</script>
<script>
    $(document).ready(function() {
        async function handleFilter() {
            var authors = [];
            var genres = [];
            $('input[name="authors"]:checked').each(function () {
                    authors.push($(this).val());
            });
            $('input[name="genres"]:checked').each(function () {
                genres.push($(this).val());
            });
            const user = await fetch('http://localhost:8080/fetch', {
                method: "GET",
            });
            const dataUser = await user.json();
            $.ajax({
                url: '/filterBook?authors='+authors,
                type: 'GET',
                success: function (result) {
                    var books = result;
                    $("#card").empty();
                    for (var i = 0; i < books.length; i++) {
                        [dataUser].forEach(function (userName) {
                            var book = books[i];
                            $("#card").append("ID: " + "<span>" + book["id"] + "</span>" + "<br>" + "Title: " + "<span>" + book["title"] + "</span>" + "<br>" + "Author: " + "<span>" + book["author"] + "</span>" + "<br>" + "Genre: " + "<span>" + book["genre"] + "</span>" + "<br>" + "Description: " + "<span>" + book["description"] + "</span>" + "<br>" + "ISBN: " + "<span>" + book["isbn"] + "</span>" + "<br>" + "ActualQuantity: " + "<span>" + book["actual_quantity"] + "</span>" + "<br>" + "<br>")
                            if (userName["role_name"] != "Member") {
                                $("#card").append("<a href='/loadBook/" + book["id"] + "'>" + "Update" + "</a>" + "&nbsp;" + "&nbsp;")
                                $("#card").append("<a href='/loadDelete/" + book["id"] + "'>" + "Delete" + "</a>")
                            } else {
                                if(book["actual_quantity"]!=0){
                                    $("#card").append("<a href='/loadBorrow/" + book["id"] + "'>" + "Borrow" + "</a>")
                                }
                            }
                            $("#card").append("<p>" + "-----------------------------------------------------------------" + "</p>")
                        });
                    }
                    if(dataUser["role_name"]!="Member"){
                        $("#card").append("<a href='/addBook'>" + "Add New Book" + "</a>" + "<br>")
                    }
                    $("#card").append("<a href='/home'>" + "Home" + "</a>")
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        $('input[name="authors"]').each(function () {
            console.log("hi")
            $(this).on('change', handleFilter);
        });
    });
</script>
</html>